<!-- templates/all_recipes.html -->
{% extends 'coogle/base.html' %}
{% block content %}
<h1>Here is a list of all the Recipes I know! </h1>
<h3>Don't hesitate to feed me more knowledge :</h3>

<table>
    <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Ingredients</th>
        <th>Decsription</th>
    </tr>
    {% for rec in all_recipes%}
    <tr>
        <td><img src="{{rec.image_url}}" style="max-width: 100;"></td>
        <td style="padding-left: 4px; padding-right: 4px;">{{rec.name}}</td>
        <td style="padding-left: 4px; padding-right: 4px;">{{rec.get_ingredients}}</td>
        <td style="padding-left: 4px;">{{rec.description}}</td>
    </tr>
    {% endfor %}
</table>

<table>
    <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Ingredients</th>
        <th>Decsription</th>
    </tr>
    {% for rec in all_recipes%}
    <tr>
        <td><img src="{{rec.image_url}}" style="max-width: 100;"></td>
        <td style="padding-left: 4px; padding-right: 4px;">{{rec.name}}</td>
        {% for ing in recipe.get_ingredients %}
        <td style="padding-left: 4px; padding-right: 4px;">{{ing.name}}</td>
        {% endfor %}
        <td style="padding-left: 4px;">{{rec.description}}</td>
    </tr>
    {% endfor %}
</table>


{% endblock %}