<!-- templates/all_recipes.html -->
{% extends 'coogle/base_recipe.html' %}
{% block content %}

<html style="background-color: rgb(219, 219, 219);">
    <h1>The Sacred Cookbook</h1>
    <h5><i>“... food is not simply organic fuel to keep body and soul together, it is a perishable art that must be savoured at the peak of perfection.”</i><br>― E.A. Bucchianeri</h5>
    <h4 style="padding-bottom: 10;"><a href="{% url 'create_recipe' %}" style="text-decoration: none ; color: rgba(137, 74, 39);">Write a new recipe</a></h4>
    <table>
        {% for rec in all_recipes %}
        <tr>
            <td><img src="{{rec.image_url}}" style="max-width: 100;"></td>
            <td style="padding-left: 4px; padding-right: 4px;"><center><a href="{% url 'recipe_page' rec.pk %}" style="text-decoration: none; color: rgba(137, 74, 39); padding-left: 5; padding-right: 5;">{{rec.name}}</a></center></td>
            <td style="padding: 5; padding-right: 25;">{{rec.description}}</td>
            <td><a href={% url 'delete_recipe' recipe_pk=rec.pk %} style="text-decoration: none; color: rgba(0, 0, 0, 0.750)">delete</a></td>
        </tr>
        {% endfor %}
    </table>
</html>

{% endblock %}