<!-- templates/create_harvest_form.html -->
{% extends 'coogle/base.html' %}
{% block content %}

<html style="background-color: rgb(219, 219, 219);">
    <center>
        <h2>Add harvesting period data to an ingredient:</h2>
        <form method="POST" style="padding: 40; padding-top: 80;">
        {% csrf_token %}
            <table>
            {% for field in form %}
            <tr>
                <th>{{field.label}}</th>
                <th>{{field}}</th>
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td>
                    <p style="padding-bottom: 10;"><center><input type="submit", name="Add harvest data" value="Add harvest data"></center></p>
                </td>
            </tr>
            </table>    
        </form>
        <table style="padding-bottom: 40;">
            <tr>
                <td><b>Is an ingredient missing ?</b></td>
                <td><center><a href="{% url 'create_ingredient'%}" style="text-decoration: none; color: black; padding-left: 20;"><button>Add it here</button></a></center></td>
            </tr>
        </table>
    </center>
</html>

{% endblock %}