<!-- templates/create_recipe_form.html -->
{% extends 'coogle/base.html' %}
{% block content %}

<html style="background-color: rgb(219, 219, 219);">
<head>
    <style>
        .container {
            position: relative;
            text-align: center;
        }
        .center {
          position: absolute;
          top: 30%;
          left: 50%;
          transform: translate(-50%, -50%);
          max-width: 500px;
        }

      </style>
    </head>

    <div class="container">
        <img src="../media/kitchen_CU.jpg" style="width: 100%;">
        <div class="center">
            <form method="POST">
            {% csrf_token %}
                <table>
                {% for field in form %}
                <tr>
                    <th>{{field.label}}</th>
                    <th>{{field}}</th>
                </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td>
                        <p style="padding-bottom: 10;"><center><input type="submit", name="Create recipe" value="Create recipe"></center></p>
                    </td>
                </tr>
                </table>    
            </form>
            <table>
                <tr>
                    <td><b>Is an ingredient missing ?</b></td>
                    <td><center><a href="{% url 'create_ingredient'%}" style="text-decoration: none; color: black; padding-left: 20;"><button>Add it here</button></a></center></td>
                </tr>
            </table>
        </div>
    </div>
</html>

{% endblock %}