<!-- templates/harvest_page.html -->
{% extends 'coogle/base.html' %}
{% block content %}

<html style="background-color: rgb(219, 219, 219);">

    <h1><center>{{harvest_page.ingredients.name}}</center></h1>
    <h3><center><i>{{harvest_page.ingredients.ing_type}}</i></center></h3>
    <p></p>
    <table style="table-layout: auto; padding: 10;">
        <tr>
            <td><img src="{{harvest_page.ingredients.image_url}}" style="max-width: 500;"></td>
            <td style="padding: 80;"> {{harvest_page.ingredients.name}} can be found between <i>
                {% if harvest_page.start_month == '1' %}January{% endif %}
                {% if harvest_page.start_month == '2' %}Ferbuary{% endif %}
                {% if harvest_page.start_month == '3' %}Marche{% endif %}
                {% if harvest_page.start_month == '4' %}April{% endif %}
                {% if harvest_page.start_month == '5' %}May{% endif %}
                {% if harvest_page.start_month == '6' %}June{% endif %}
                {% if harvest_page.start_month == '7' %}July{% endif %}
                {% if harvest_page.start_month == '8' %}August{% endif %}
                {% if harvest_page.start_month == '9' %}September{% endif %}
                {% if harvest_page.start_month == '10' %}October{% endif %}
                {% if harvest_page.start_month == '11' %}November{% endif %}
                {% if harvest_page.start_month == '12' %}December{% endif %} </i>
                and <i>
                {% if harvest_page.end_month == '1' %}January{% endif %}
                {% if harvest_page.end_month == '2' %}Ferbuary{% endif %}
                {% if harvest_page.end_month == '3' %}Marche{% endif %}
                {% if harvest_page.end_month == '4' %}April{% endif %}
                {% if harvest_page.end_month == '5' %}May{% endif %}
                {% if harvest_page.end_month == '6' %}June{% endif %}
                {% if harvest_page.end_month == '7' %}July{% endif %}
                {% if harvest_page.end_month == '8' %}August{% endif %}
                {% if harvest_page.end_month == '9' %}September{% endif %}
                {% if harvest_page.end_month == '10' %}October{% endif %}
                {% if harvest_page.end_month == '11' %}November{% endif %}
                {% if harvest_page.end_month == '12' %}December{% endif %} </i>
                <p></p>
                {{harvest_page.comment}}
                </td>
            <td>
                <a href="{% url 'update_harvest' harvest_page.pk %}" style="text-decoration: none; color: rgba(0, 0, 0, 0.650)"><button style="padding: 10;"><b>Update data</i></b></button></a>

            </td>
        </tr>
        <tr>
            <td><center><a href="{% url 'update_ingredient' harvest_page.ingredients.pk%}" style="text-decoration: none; color: black;"><i>I don't like this picture</i></a></center></td>
        </tr>
    </table>
    <p></p>

</html>

{% endblock %}