<!-- templates/recipe_page.html -->
{% extends 'coogle/base.html' %}
{% block content %}

<html style="background-color: rgb(219, 219, 219);">
    <h1><center>{{recipe_page.name}}</center></h1>
    <h3><center><i>{{recipe_page.description}}</i></center></h3>
    <p></p>
    <br>
    <p></p>
    <table style="padding: 25;">
        <tr>
            <td></td>
            <th style="color: rgba(0, 0, 0, 0.650)">Instructions</th>
        </tr>
        <tr>
            <td><img src="{{recipe_page.image_url}}" style="max-width: 500;"></td>
            <td style="padding-left: 50;">{{recipe_page.instructions}}</td>
        </tr>
    </table>
    <p></p>

    <center>
        <h2 style="color: rgba(0, 0, 0, 0.750)">Ingredients:</h2>
    <table>
        {% for ing in recipe_page.get_ingredients%}
        <tr>
            <a href="{% url 'ingredient_page' ing.pk %}"><img src={{ing.image_url}} style="width: 150; height: 150;"></a>
        </tr>
        {% endfor %}

    </table>
    </center>
    <a href="{% url 'update_recipe' recipe_page.pk %}" style="color: rgba(0, 0, 0, 0.750); text-decoration: none;"><button style="padding: 10;"><b>Something's wrong with the data</i></b></button></a>
    <a href="{% url 'delete_recipe' recipe_pk=recipe_page.pk %}" style="color: rgba(0, 0, 0, 0.750); text-decoration: none;"><button style="padding: 10; position: relative; right: -65%;"><b>This recipe has no reason to exist.</b></button></a>
</html>

{% endblock %}