<!-- templates/update_harvest_form.html -->
{% extends 'coogle/base.html' %}
{% block content %}

<html style="background-color: rgb(219, 219, 219);">
    <h2><center>Update {{harvest.ingredients.name}}'s Harvest Data:</center></h2>

    <table>
        <tr>
            <td><center><img src="{{harvest.ingredients.image_url}}" style="max-width: 500;"</center></td>
            <td>
            <center>{% if harvest.start_month == '1' %}January{% endif %}
            {% if harvest.start_month == '2' %}Ferbuary{% endif %}
            {% if harvest.start_month == '3' %}Marche{% endif %}
            {% if harvest.start_month == '4' %}April{% endif %}
            {% if harvest.start_month == '5' %}May{% endif %}
            {% if harvest.start_month == '6' %}June{% endif %}
            {% if harvest.start_month == '7' %}July{% endif %}
            {% if harvest.start_month == '8' %}August{% endif %}
            {% if harvest.start_month == '9' %}September{% endif %}
            {% if harvest.start_month == '10' %}October{% endif %}
            {% if harvest.start_month == '11' %}November{% endif %}
            {% if harvest.start_month == '12' %}December{% endif %}
            -
            {% if harvest.end_month == '1' %}January{% endif %}
            {% if harvest.end_month == '2' %}Ferbuary{% endif %}
            {% if harvest.end_month == '3' %}Marche{% endif %}
            {% if harvest.end_month == '4' %}April{% endif %}
            {% if harvest.end_month == '5' %}May{% endif %}
            {% if harvest.end_month == '6' %}June{% endif %}
            {% if harvest.end_month == '7' %}July{% endif %}
            {% if harvest.end_month == '8' %}August{% endif %}
            {% if harvest.end_month == '9' %}September{% endif %}
            {% if harvest.end_month == '10' %}October{% endif %}
            {% if harvest.end_month == '11' %}November{% endif %}
            {% if harvest.end_month == '12' %}December{% endif %}</center>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>{{harvest.comment}}</td>
        </tr>
    </table>
    <center>
    <form method="POST" style="padding-top: 35;">
    {% csrf_token %}
        <table>
        {% for field in form %}
        <tr>
            <th>{{field.label}}</th>
            <th>{{field}}</th>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td>
                <center><input type="submit", name="Update data" value="Update data"></center>
            </td>
        </tr>
        </table>    
    </form>
    </center>
</html>

{% endblock %}