<!-- templates/create_profile_form.html -->
{% extends 'mini_fb/base.html' %}

{% block content %}

<h2 style="color: white; background-color: rgb(10, 108, 199);">Create a new profile</h2>

<form method="POST">
{% csrf_token %}
    <table>
    {% for field in form %}
    <tr>
        <th><center>{{field.label}}</center></th>
        <th>{{field}}</th>
    </tr>
    {% endfor %}
    <tr>
        <td></td>
        <td>
            <input type="submit", name="Create profile" value="Create profile">
        </td>
    </tr>
    </table>    
</form>

{% endblock %}