<!-- templates/show_all_profiles.html -->
{% extends 'mini_fb/base.html' %}

{% block content %}

<p>
<h3><b>My friends</b></h3>
<p>

<!-- scriptlet code to display the value of the variable 'all_quotes_list' 
{{ all_quotes_list }}
-->

<table>
    <colgroup>
        <col span="1" style="width: 30%;">
        <col span="1" style="width: 30%;">
        <col span="1" style="width: 40%;">
    </colgroup>
    <tr>
        <th>Name</th>
        <th>Hometown</th>
        <th>Image</th>
    </tr>
    {% for profile in show_all_profiles %}
    <tr>
        <td><center>
            <a href="{% url 'show_profile_page' profile.pk %}">{{profile.first_name}} {{profile.last_name}}</a>
        </center></td>
        <td><center>
            {{profile.city}}
        </center></td>
        <td>
            <a href="{% url 'show_profile_page' profile.pk %}"><img src={{profile.image_url}} style="max-width: 250;"></a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}