<!-- templates/show_all_profiles.html -->

<center><h1 style="background-color: darkcyan;"><b>MiniFacebook</b></h1></center>
<p>
<h2><b>Showing all Profiles</b></h2>
<p>

<!-- scriptlet code to display the value of the variable 'all_quotes_list' 
{{ all_quotes_list }}
-->

<table>
    <colgroup>
        <col span="1" style="width: 30%;">
        <col span="1" style="width: 30%;">
        <col span="1" style="width: 40%;">
    </colgroup>
    <tr>
        <th>Name</th>
        <th>Hometown</th>
        <th>Image</th>
    </tr>
    {% for profile in show_all_profiles %}
    <tr>
        <td><center>{{profile.first_name}} {{profile.last_name}}</center></td>
        <td><center>{{profile.city}}</center></td>
        <td><img src={{profile.image_url}} style="max-width: 250;"></td>
    </tr>
    {% endfor %}
</table>