<!-- templates/show_profile_page.html -->
{% extends 'mini_fb/base.html' %}

{% block content %}

<h1><center>{{show_profile_page.first_name}} {{show_profile_page.last_name}}</center></h1>

<img src="{{show_profile_page.image_url}}" style="width: 400;"><br>
<b>Contact: </b>{{show_profile_page.email_adress}}<br>
<b>Location: </b>{{show_profile_page.city}}

<p>
<h3>Status Message</h3>
<p>
<table>
    <tr>
        <th>Time</th>
        <th>Message</th>
    </tr>
    <tr>
    {% for status in show_profile_page.get_status_messages %}
        <td>timestamp</td>
        <td>{{status.message}}</td>
        {% endfor %}
    </tr>
</table>

{% endblock %}
